<%= render 'admin/maket' %>
<div class="container-fluid">
  <div class="row content">
<div class="login-page">
  <div class="form">
        <%= form_tag('db', :method => "post", :class => "login-form") do  %>
        <%= select_tag :dtp, "<option >присоединить бд</option>
        <option value='#{Base64.encode64( Base64.encode64('sj1'))}'>Основной</option>
        <option value='#{Base64.encode64( Base64.encode64('sj2'))}'>Теневой</option>".html_safe%>
        <%= select_tag :gemn, "<option >Выберите  субд</option>
        <option value='mysql2'>Mysql</option>
        <option value='pg'>postgres</option>
        <option value='oracle'>oracle_enhanced</option>
        <option value='Sql Server'>sql_server</option>".html_safe%>
        <%= text_field_tag(:user_name ,nil,placeholder: 'Имя пользователя') %>
        <%= password_field_tag(:password ,nil,placeholder: 'Пароль') %>
        <%= text_field_tag(:host ,nil,placeholder: 'Имя хоста') %>
        <%= text_field_tag(:db ,nil,placeholder: 'Имя бд') %>
        <%= submit_tag( "Подключить", class: "button") %>
    <% end%>

  </div>
</div>
  </div>
</div>
<script>
  $(function() {

    $(".login-form").validate({
      ignore: ".ignore",
      rules: {
        password: {
          required: true
        },user_name:{
          required: true
        },
        host:{
          required: true
        },
        db:{
          required: true
        },
    gemn:{
      required: true
    },
        dtp:{
          required: true
        }
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
</script>