<% provide(:title, 'Sign in') %>
<div class="login-page">
<div class="form">
    <h2 class="form-signin-heading">Пожалуйста войдите</h2>
    <%= form_tag({:controller => "sessions", :action => "new"}, :method => "post", :class => "login-form") do  %>
        <%= text_field_tag(:login ,nil,placeholder: 'Логин') %>
        <%= password_field_tag(:password ,nil,placeholder: 'Пароль') %>
      <p >
      <div  class="g-recaptcha" data-sitekey="6LdQKwoUAAAAALL_V1TeAxtVwaXcnjeALX06vBcu"  style="transform:scale(0.88);-webkit-transform:scale(0.89);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
      <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
      </p>
        <%= submit_tag( "Войти", class: "button") %>
    <% end %>
    <p class="message">Не зарегистрированы?<%= link_to ' Зарегистрируйтесь!', signup_path, method: :post %></p>

</div>
</div>
<script>
  $(function() {

    $(".login-form").validate({
      ignore: ".ignore",
      rules: {
        password: {
          required: true,
          minlength: 5,
          maxlength:10,
          pattern: /^[a-zA-Z0-9]*$/
        },login:{
          required: true,
          minlength: 5,
          maxlength:10,
          pattern: /^[a-zA-Z0-9]*$/
        },
        "hiddenRecaptcha": {
          required: function() {
            if(grecaptcha.getResponse() == '') {
              return true;
            } else {
              return false;
            }
          }
        }
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
</script>



