<style>
  table{
    margin-top: 10%;
    background: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius:  10px;
    -khtml-border-radius:10px;
  }
</style>

<div style="margin-left: 10%;margin-right: 10%;" class="page-content inset">

  <div class="row">

    <table class="table table-hover">

    <thead>
    <tr>
          <th>
      №
          </th>
      <th>
        Вопрос
      </th>
      <th>
        Ответ
      </th>
      <th>
        Категория
      </th>
      <th>
      Оценка
      </th>
      <th>
      Автор
      </th>
      <th>
        Время
      </th>
      <th>
        Действия
      </th>
    </tr>
    </thead>
    <tbody>
    <%
      @tasks=Task.all
      @tasks.each do |cat| %>
        <tr>
          <td>
            <abbr title="Редактировать"><h5><%=
              link_to  "#{cat.id}" ,taske_path(Base64.encode64( Base64.encode64(cat.id.to_s))),method: :post %>
            </h5></abbr>
          </td>
          <td>
            <abbr title="<%= cat.ask %>"><h5><%= cat.ask[0,15] %></h5></abbr>
          </td>
          <td>
            <abbr title="<%= cat.answer %>"><h5><%= cat.answer[0,15] %></h5></abbr>
          </td>
          <td>
            <h5><%= cat.cat_id %></h5>
          </td>
          <td>
            <h5>
              <%= cat.mark %>
            </h5>

          </td>
          <td>
            <h5>
              <%= cat.user_id %>
            </h5>
          </td>
          <td>
            <h5>
              <%= cat.time %>
            </h5>
          </td>
          <td>
            <h5>
              <%= link_to  "Удалить" ,taskd_path(Base64.encode64( Base64.encode64(cat.id.to_s))),method: :post %>
           </h5>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>



