<%= render 'maket' %>
<link rel="stylesheet" href="/codemirror.css" />
<script src="/codemirror.js"></script>
<script src="/sql.js"></script>
<style>
  #ask{
    resize: none;
  }

</style>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">

        <i  style="margin-bottom: 50px">Таблицы</i>

      </li>
      <li>
        <% $i = 0
            while $i<Basic.connection.tables.length do%>
            <h5>
              <%= link_to Basic.connection.tables[$i],tab_path(Base64.encode64( Base64.encode64(Basic.connection.tables[$i]))),method: :post,:target => "blank"
              %>
            </h5>
        <%
          $i=$i+1
          end %>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div   class="content-header">
      <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      </h1>
    </div>

    <div class="page-content inset">
      <%= form_tag('taskm', :class => "register-form",method: :post) do  %>
          <p>
          <%=	text_area_tag :ask,nil,placeholder:'Введите условия задачи',:rows =>5 ,:class =>"form-control"  %>
          </p>
          <p>
          <%=	text_area_tag :code,'Введите sql запрос',:rows =>5 ,:class =>"form-control"  %>
          </p>
            <%=select_tag :cat_id,options_for_select(Cat.all.collect{ |u| [u.name,u.id]},selected: "Категории")  %>
          <p>
            <%= text_field_tag :mark ,nil,placeholder: 'Оценка'%>
          </p>
          <p>
            <%= text_field_tag :time ,nil,placeholder: 'Время в секундах'%>
          </p>
          <p>

          <%= submit_tag 'Сохранить', class: "button" %>
          </p>
      <% end %>

  </div>

</div>
</div>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });
  window.onload = function() {

    window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
      mode: 'text/x-mariadb',
      indentWithTabs: true,
      smartIndent: true,
      lineNumbers: true,
      matchBrackets : true,
      autofocus: true,

    });
  };
</script>
