<%= render 'layouts/scrip' %>
<style>
  .console
  {
    color:  #FFFF66;
    margin-bottom: 0%;
    border-radius: 5px;
    resize: none;
    overflow-x:hidden;
    overflow-y:hidden;
  }
</style>
<% @use = current_user  %>
 <% if @use !=nil %>
    <div class="console">
    <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="user-wrapper">
        <%= image_tag(@use.img,:class=>"img-responsive" )	  %>
        <div class="description">
          <h3> <%= @use.fname+' '+@use.lname %></h3>
          <h5> <strong> <% if @use.status_user == 0 %>
            <%=  'Студент' %>
                <% else%>
                <%=  'Автор' %>
                <%end %> </strong></h5>
          <p>
            <%= link_to 'edit',edit_path(current_user)	,method: :post  %>
          </p>
          <h6>
          LOGIN: <%=@use.login %>
          </h6>
          <hr />
          <%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span>".html_safe, signout_path, method: :get   %>
        </div>
      </div>
    </div>
</div>
    </div>
<%else %>
    <div class="container" style="background-attachment: black;color: azure">
          <div class="alert alert">Нет такого пользователя!!!
            Войдите в систему !!!
            <%= link_to "Войти", signin_path, method: :get %></p>
          </div>
    </div>
 <% end %>
