<%=	render 'admin/maket'  %>
<% provide(:title, 'Котегории') %>
<div class="login-page">
  <div class="form">
    <h2 class="form-signin-heading">Добавление категории</h2>
    <%= form_tag('categoryu', :class => "register-form") do  %>
        <%= hidden_field_tag :formati ,params[:format] %>
        <%= text_field_tag :name ,nil,placeholder: 'Названия категории' %>
         <%= submit_tag 'Обновить', class: "button" %>
    <% end %>
    <%= render 'tables' %>
  </div>

</div>

