<%= render 'maket' %>
<div class="login-page">
  <div class="form">
    <h2 class="form-signin-heading">Введите данные коректно</h2>
    <%= form_tag('testn', :class => "register-form") do  %>
        <%= text_field_tag :name ,nil,placeholder: 'Названия теста' %>
        <%= text_field_tag :description  ,nil,placeholder: 'Описания теста'%>
        <%=datetime_field_tag :start_t%>
        <%= password_field_tag :password ,nil,placeholder: 'Пароль'%>
        <abbr title="Статус теста" ><%=select_tag :active,options_for_select([["недоступен",false],["доступен",true]])  %></abbr>
        <%= submit_tag 'Сохранить', class: "button" %>
    <% end %>
  </div>

</div>

